Hello Garrebear,

We hope this finds you well. This is your friends Gabriel-bot and Taylor-tron. We are delighted to inform you that these dates have been found within your desired criteria for the below permit:


Permit {{p.id}}
Section {{p.section}}
{% for date in p.availiable_dates %}
    {{ date }}
{% endfor %}


DP?,

Gabriel-bot and Taylor-tron